.overlay-image {
	position: absolute;
	top: 8px;
}

.fade-in {
	animation: fade-in;
}

.fade-out {
	animation: fade-out;
}

.fade-in,
.fade-out {
	animation-fill-mode: forwards;
}

img {
	height: 600px;
	width: 800px;
}

@keyframes fade-out {
	from {
		opacity: 100%;
	}
	to {
		opacity: 0%;
	}
}

@keyframes fade-in {
	from {
		opacity: 0%;
	}
	to {
		opacity: 100%;
	}
}